@{
    ViewBag.Title = "Home Page";
}
<div class="sliders">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item item1 active">
                <div class="container">
                    <div class="w3l-space-banner">
                        <div class="carousel-caption p-lg-5 p-sm-4 p-3">
                            <p>
                                Welcome To
                                <span></span>
                            </p>
                            <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">
                                Canfordit
                                <span>R&H</span>
                            </h3>
                            <a class="hvr-outline-out button2" href="product.html">Request Ride </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item item2">
                <div class="container">
                    <div class="w3l-space-banner">
                        <div class="carousel-caption p-lg-5 p-sm-4 p-3">
                            <p>
                                Special For Today
                                <span></span>
                            </p>
                            <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">
                                <span>Ride</span> With US
                            </h3>
                            <a class="hvr-outline-out button2" href="product.html">Request Ride</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item item3">
                <div class="container">
                    <div class="w3l-space-banner">
                        <div class="carousel-caption p-lg-5 p-sm-4 p-3">
                            <p>
                                New Customers On Discount
                                <span></span>
                            </p>
                            <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">
                                Cars For
                                <span>Hire</span>
                            </h3>
                            <a class="hvr-outline-out button2" href="product.html">Request Ride</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item item4">
                <div class="container">
                    <div class="w3l-space-banner">
                        <div class="carousel-caption p-lg-5 p-sm-4 p-3">
                            <p>
                                Canfordit Rides & Hires
                                <span></span>
                            </p>
                            <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">
                                Yes You
                                <span>Can!</span>
                            </h3>
                            <a class="hvr-outline-out button2" href="product.html">Request Ride</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="hire">
    <div class="banner">
        <div class="banner-layer">
            <h1 class="title-w3layouts">Cars For Hire</h1>
        </div>
        <div class="wthreeproductdisplay">
            <div class="vehicles">
                <div class="top-grid">
                    <div class="cart-grid" id="cart-1">
                        <div class="img">
                            <img src="~/Content/images/Hire-Menu/Toyota-Atlis.jpg" alt="img">
                        </div>
                        <ul class="info">
                            <li class="vBrand">Toyota Etios</li>
                            <li>Available Now</li>
                            <li class="right-text"></li>
                        </ul>
                        <div class="snipcart-details ">
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3l_item" value="Striped Top ">
                                <input type="hidden" name="amount" value="25.00">
                                <input type="hidden" name="item_name" value="Product #001" />
                                <button type="submit" class="button w3l-cart" data-id="cart-1">Select</button>
                            </form>
                        </div>
                    </div>
                    <div class="cart-grid" id="cart-2">
                        <div class="img">
                            <img src="~/Content/images/Hire-Menu/Toyota-Avanza.jpg" alt="img">
                        </div>
                        <ul class="info">
                            <li class="vBrand">Toyota Etios</li>
                            <li>Busy</li>
                            <li class="right-text">Avail. 2022/01/24</li>
                        </ul>
                        <div class="snipcart-details ">
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3l_item" value="Striped Top ">
                                <input type="hidden" name="amount" value="25.00">
                                <input type="hidden" name="item_name" value="Product #002" />
                                <button type="submit" class="button w3l-cart" data-id="cart-3">Select</button>
                            </form>
                        </div>
                    </div>
                    <div class="cart-grid" id="cart-3">
                        <div class="img">
                            <img src="~/Content/images/Hire-Menu/Hundai-H1.jpg" alt="img">
                        </div>
                        <ul class="info">
                            <li class="vBrand">Toyota Etios</li>
                            <li>Busy</li>
                            <li class="right-text">Avail. 2022/01/24</li>
                        </ul>
                        <div class="snipcart-details ">
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3l_item" value="Striped Top ">
                                <input type="hidden" name="amount" value="25.00">
                                <input type="hidden" name="item_name" value="Product #003" />
                                <button type="submit" class="button w3l-cart" data-id="cart-3">Select</button>
                            </form>
                        </div>
                    </div>
                    <div class="cart-grid" id="cart-4">
                        <div class="img">
                            <img src="~/Content/images/Hire-Menu/Toyota-corolla Quest-2.jpg" alt="img">
                        </div>
                        <ul class="info">
                            <li class="vBrand">Toyota Etios</li>
                            <li>Available Now</li>
                            <li class="right-text"></li>
                        </ul>
                        <div class="snipcart-details ">
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3l_item" value="Striped Top ">
                                <input type="hidden" name="amount" value="25.00">
                                <input type="hidden" name="item_name" value="Product #004" />
                                <button type="submit" class="button w3l-cart" data-id="cart-4">Select</button>
                            </form>
                        </div>
                    </div>

                    <div class="clear"></div>
                </div>
                <div class="bot-grid">
                    <div class="cart-grid" id="cart-5">
                        <div class="img">
                            <img src="~/Content/images/Hire-Menu/Toyota-Etios.jpg" alt="img">
                        </div>
                        <ul class="info">
                            <li class="vBrand">Toyota Etios</li>
                            <li>Available Now</li>
                            <li class="right-text"></li>
                        </ul>
                        <div class="snipcart-details ">
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3l_item" value="Striped Top ">
                                <input type="hidden" name="amount" value="25.00">
                                <input type="hidden" name="item_name" value="Product #005" />
                                <button type="submit" class="button w3l-cart" data-id="cart-5">Select</button>
                            </form>
                        </div>
                    </div>
                    <div class="cart-grid" id="cart-6">
                        <div class="img">
                            <img src="~/Content/images/Hire-Menu/2020 VW T6 Kombi.jpg" alt="img">
                        </div>
                        <ul class="info">
                            <li class="vBrand">Toyota Etios</li>
                            <li>Busy</li>
                            <li class="right-text">Avail. 2022/01/24</li>
                        </ul>
                        <div class="snipcart-details ">
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3l_item" value="Striped Top ">
                                <input type="hidden" name="amount" value="25.00">
                                <input type="hidden" name="item_name" value="Product #006" />
                                <button type="submit" class="button w3l-cart" data-id="cart-6">Select</button>
                            </form>
                        </div>
                    </div>
                    <div class="cart-grid" id="cart-7">
                        <div class="img">
                            <img src="~/Content/images/Hire-Menu/2020 mercedes vito.jpg" alt="img">
                        </div>
                        <ul class="info">
                            <li class="vBrand">Toyota Etios</li>
                            <li>Busy</li>
                            <li class="right-text">Avail. 2022/01/24</li>
                        </ul>
                        <div class="snipcart-details ">
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3l_item" value="Striped Top ">
                                <input type="hidden" name="amount" value="25.00">
                                <input type="hidden" name="item_name" value="Product #007" />
                                <button type="submit" class="button w3l-cart" data-id="cart-7">Select</button>
                            </form>
                        </div>
                    </div>
                    <div class="cart-grid" id="cart-8">
                        <div class="img">
                            <img src="~/Content/images/Hire-Menu/Toyota-Quantum.jpg" alt="img">
                        </div>
                        <ul class="info">
                            <li class="vBrand">Toyota Etios</li>
                            <li>Available Now</li>
                            <li class="right-text"></li>
                        </ul>
                        <div class="snipcart-details ">
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3l_item" value="Striped Top ">
                                <input type="hidden" name="amount" value="25.00">
                                <input type="hidden" name="item_name" value="Product #008" />
                                <button type="submit" class="button w3l-cart" data-id="cart-8">Select</button>
                            </form>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>