@{
    ViewBag.Title = "Forgot Password Feedback";
}

<link rel="stylesheet" href="~/Content/css/content.css" type="text/css" media="all" />
<style>
    .heading .fa-check {
        font-size: 40px;
        color: #0e9379;
    }

    .content .feedback-message {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .content .success {
        padding: 10px 10px;
        text-align: center;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        color: #f5f5f5;
        background: linear-gradient(-135deg, #2fdab8, #049074);
    }

    #gmail {
        color: #000;
    }

    #gmail:hover {
       opacity: .6;
       transition: all .3s ease;
    }
</style>
<div class="form">
    <div class="wrapper">
        <h3 class="h3 text-center heading">Forgot Password Feedback<i class="fa fa-check pl-2 mb-0"></i></h3>
        <div class="content">
            <div class="feedback-message">
                <div class="success container">
                    Password Reset Link Sent. Now check your Emails to reset your password.
                    <a href="https://mail.google.com" id="gmail" target="_blank">Gmail Accounts<i class="fa fa-envelope d-inline ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>