h1,h2,h3,h4,h5,h6,p,footer{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}

a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}

.footer {
    background-color: #000;
}
.main-row {
    width: 100%;
}
.main-row-info {
    padding: 2em;
}
.w3ls-grids {
    float: left;
    width: 23.1%;
}
.w3ls-grids .slogan {
    color: #00CED1;
    margin-top: 30px;
}

.footer h3, .footer h2 {
    color: #2fdab8;
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 0.5em;
    font-family: 'Khand', sans-serif;
}
p {
    font-size: 0.9em;
    color: #fff;
    line-height: 2em;
    font-weight: 300;
}
p.w3l-text {
    margin-bottom: 0.5em;
}
.w3ls-grids.grid-two {
    margin: 0 1.5em;
    width: 28%;
}
.w3ls-grids.grid-three {
    margin-right: 1.5em;
    width: 18%;
}
.w3ls-grids li {
    display: block;
    font-weight: 300;
	font-size: 0.9em;
    color: #fff;
}
.w3ls-grids ul li a {
    color: #fff;
    margin-top: 1em;
    display: inline-block;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	transition:.5s all;
}
.w3ls-grids ul li a i {
    margin-right: 0.5em;
    background: url(../images/Footer/arrow1.png)no-repeat 0px 0px;
    width: 9px;
    height: 11px;
    display: inline-block;
}
.w3ls-grids ul li:nth-child(1) a{
	margin: 0;
}
.w3ls-grids ul li a:hover {
    color: #2fdab8;
}
.w3ls-grids.grid-three ul li a:hover{
	padding-left: 0.8em;
} 
.w3ls-grids form {
    position: relative;
}
.w3ls-grids input[type="search"] {
    border: none;
    padding: 0.8em 2.8em .8em 0.8em;
    font-size: 0.9em;
    color: #000;
    -webkit-appearance: none;
    outline: none;
	width:100%;
}
.w3ls-grids form input[type="submit"] {
    background: url(../images/Footer/search.png)#fff no-repeat center;
    width: 43px;
    height: 39px;
    border: none;
    padding: 0;
    -webkit-appearance: none;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
	cursor:pointer;
}
::-webkit-input-placeholder {
	color:#000 !important;
}
:-moz-placeholder { 
	color:#000 !important; 
}
::-moz-placeholder { 
	color:#000 !important;
}
:-ms-input-placeholder {  
	color:#000 !important;
}

.agileits-bottom-grids.social-icons {
    margin-top: 2em;
}
.agileits-bottom-grids.social-icons h2 {
    margin-bottom: 0;
}
.social-icons ul{
	display:inline-block;
	padding: 0;
}
.social-icons ul li {
    position: inherit;
    display: inline-block;
    width: inherit;
}
.social-icons ul li:nth-child(2) {
    margin: 0 .5em;
}
.social-icons ul li:nth-child(3) {
    margin-right: 0.5em;
}
.social-icons ul li a {
    background: url(../images/Footer/social-icons.png) #55acee no-repeat 2px 1px;
    display: block;
    height: 35px;
    width: 35px;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}
.social-icons ul li a.fb{
	background-position:1px -40px;
	background-color:#3b5998;
}
.social-icons ul li a.gp {
    background-position: 2px -80px;
	background-color:#dc4e41;
}
.social-icons ul li a.drb {
    background-position: 1px -120px;
	background-color:#ea4c89;
}
.social-icons ul li a:hover {
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
    border-radius: 32px;
	-webkit-transform: rotatez(360deg);
	-moz-transform: rotatez(360deg);
    transform: rotatez(360deg);
	-o-transform: rotatez(360deg);
	-ms-transform: rotatez(360deg);
}

.agile-left {
    float: left;
    width: 32%;
}
.agile-left img {
    width: 100%;
}
.agile-right {
    float: right;
    width: 62%;
}
.agile-right h5 {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    margin-bottom: 0.8em;
}
.agile-right li span {
    background: url(../images/Footer/icon1.png)no-repeat 0px 0px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 12px;
    vertical-align: middle;
}
.agile-right li span.chat {
    background-image: url(../images/Footer/icon2.png);
}
.agile-body.agile-body-bottom {
    margin-top: 2em;
}

.copyright {
    padding: 1.5em;
    background: #383737;
}
.copyright p {
    text-align: center;
	font-size: 0.9em;
}
.copyright p a {
    color: #00CED1;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.copyright p a:hover{
    color: #fff;
}

@media(max-width:1440px){
.main-row {
    width: 100%;
}
}
@media(max-width:1366px){
.main-row {
    width: 100%;
}
}
@media(max-width:1280px){
.main-row {
    width: 100%;
}
}
@media(max-width:1080px){
.main-row-info {
    padding: 1.5em;
}
.main-row {
    width: 100%;
	margin: 2em auto;
}
.w3ls-grids.grid-three {
    margin-right: 1em;
}
}
@media(max-width:1024px){
.w3ls-grids.grid-two {
    margin: 0 1em;
}
}
@media(max-width:900px){
.main-row {
    width: 100%;
}
h3,h2{
    font-size: 1.8em;
    margin-bottom: 0.4em;
}
}
@media(max-width:800px){
.w3ls-grids {
    width: 50%;
}
.w3ls-grids.grid-two {
    margin: 0 0 1.5em 1em;
    width: 47%;
}
.w3ls-grids.grid-three {
    width: 47%;
}
}
@media(max-width:768px){
}
@media(max-width:640px){
.w3ls-grids {
    width: 49%;
}
.agile-body.agile-body-bottom {
    margin-top: 1.5em;
}
}
@media(max-width:480px){
h3,h2{
    margin-bottom: 0.3em;
}
.main-row {
    width: 80%;
}
.w3ls-grids {
    width: 100%;
}
.w3ls-grids.grid-two {
    margin: 1.5em 0;
    width: 100%;
}
.w3ls-grids.grid-three {
    width: 100%;
    margin: 0 0 1.5em 0;
}
.agileits-bottom-grids.social-icons {
    margin-top: 1.5em;
}
}
@media(max-width:414px){
.main-row {
    margin: 1em auto;
}
}
@media(max-width:384px){
.main-row {
    width: 85%;
}
}
@media(max-width:320px){
.main-row-info {
    padding: 1em;
}
h3,h2{
    font-size: 1.6em;
}
.w3ls-grids.grid-two {
    margin: 1em 0;
}
.w3ls-grids.grid-three {
    margin: 0 0 1em 0;
}
.copyright {
    padding: 1em;
}
}
